p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

/* BACKGROUND */

body {
    background: URL(../images/country-quilt.png);
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}



.topnav {
    position: absolute;
    right: 150px;
    bottom: -25px;
    
}

/* ALL PAGES */

hr {
    border-color:#e1e1e1;
    background-color: #e1e1e1;
    width: 95%;
    
}

.name {
    width: 100%;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.pagename {
    color: #4aaaa5;
    padding-left: 25px;
}


.top {
    width: 100%;
    background: grey;
    margin: auto 0;
    position: relative;
}

.myname {
    background-color: #4aaaa5;
    color: #ffffff;
    display: inline-block;
    padding-left: 15px 25px;
    position: absolute;
}


.wrapper {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    background: white;
   
    
}

.site-footer {
    background: #666666;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 5px;
    border-top: 5px teal;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}

.column {
    column-count: 2;
    column-gap: 1px; 
}

.column1 {
    float: left;
}

.column2 {
    float: right;
}

.topnav {
    float: left;
    background-color: lightblue;
}

#submit {
    background:#4aaaa5;
    color: #ffffff;
    padding: 6px 18px;
    box-shadow: none;
}

.portfolio {
    position: relative;
    margin-bottom: 10px;
}


.bio {
    line-height: 2em;
    font-size: 22px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#selfie {
    float: left;
    margin-right: 20px;
    margin-left: 25px;
    margin-top: 10px;
}



.container {
    position: relative; 
    width: 329px; 
    height: 324px;
    box-align: left;
}

.text-block {
    position: absolute;
    bottom: 8px;
    right: 16px;
    background-color: #4aaaa5; 
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* CONTACT PAGE */

label {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

b {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
}

form {
    margin-left: 25px;
}